html{
  font-family:'Ubuntu','文泉驛微米黑','Microsoft YaHei',"ヒラギノ角ゴ Pro",sans-serif;
}
*, *:before, *:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
section{
  display:block;
  width:100%;
}
#intro{
  background:#89C355;
}
#thought{
  background:#769C60;
}
#team{
  background:rgb(206, 236, 142);
}
#big_logo{
  text-align:center;
  font-size:200px;
  color:white;
  padding-top:100px;
}
#doing{
  text-align:center;
  font-size:30px;
  color:white;
  padding-top:50px;
}
.thought_font{
  color:#fff;
  text-align:center;
}
#thought_slogan{
  font-size:100px;
  padding-top:50px;
}
.team_font{
  color:rgb(134, 151, 64);
  text-align:center
}
#team_title{
  font-size:100px;
  padding-top:50px;
}
.circular_img{
  width:250px;
  height:250px;
  border-radius:50%;
}
.image{
  width:250px;
}
#sprout{
  margin: 0 auto;
  padding-top:15px;
}
#team_slogan{
  text-align:center;
  font-size:50px;
  padding-top:25px;
  color:rgb(24, 112, 24);
}
footer{
  height:300px;
  background:black;
}
