html{
  font-family:"微軟雅黑體",'Ubuntu','文泉驛微米黑',"ヒラギノ角ゴ Pro",sans-serif;
}
*, *:before, *:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
section{
  display:block;
  width:100%;
}
#intro{
  background:#89C355;
}
#big_logo{
  text-align:center;
  font-size:200px;
  color:white;
  text-shadow:5px 5px #99EB51;
}
#doing{
  text-align:center;
  font-size:30px;
  color:white;
}
